body {
    background-color: rgb(233, 230, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
}

.profile-pic {
    width: 25%;
    height:25%;
    border-radius: 500%;
    overflow: hidden;
    margin: 20px 0px;
    background-color: aqua;
}

.profile-pic img {
    height: 100%;
    width: 100%;
}

.info {
    width: 70%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#fullname, #username, .details {
    padding-left: 30px;
}

#fullname {
    font-size: 24px;
    font-weight: 700;
    color: rgb(62, 139, 116);
    margin-top: 5%;
}

#username {
    color: rgb(0, 153, 255)
}

.details {
    line-height: 1;
}

.user-profile {
    display: flex;
    background-color: snow;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

#fullname {
    width: 100%;
}

.footer {
    width: 100%;
}

#btn {
    width: 100%;
    background-color: rgb(14, 192, 192);
    color: white;
    border: none;
    Padding: 20px 0;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 1s ease-out
}

#btn:hover {
    background-color: rgb(60, 144, 192);
    transition: background-color 1s ease-in
}

@media only screen and (max-width: 700px) {
    .profile-pic {
        width: 100%;
        border-radius: 0px;
        margin-top: 0px;
    }
    .info {
        margin-bottom: 20px;
    }
    .details, #username, #fullname {
        padding: 0px;
    }
    .profile-pic {
        height: 50vh;
    }
    .user-profile{
        width: 100%;
    }
    body {
        margin: 0px;
    }
}